@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: theme("colors.slate.50");
  --text: theme("colors.slate.900");
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: theme("colors.slate.900");
    --text: theme("colors.slate.300");
  }
}

@layer base {
  :root {
    margin: 0;
    padding: 0;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    scroll-behavior: smooth;
    z-index: 1;
    color: var(--text);
    background-color: var(--background);
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
